/*
*    Student ID: UP773229
*    WebF1
*/

body {
  background: #d8eaf6;
}

/*    Hrader Style:   ;*/
#header {
    padding-top: 20px;
    background-color: #376d96;
}

#header > h1 {
    color: #fff;
    font-size: 5em;
    text-shadow: 4px 2px 1px #5a5a5a;
}

#header h1 a {
    color: #ffffff;
}

#header h1 a:visited {
    color: #ffffff;
}

/* Normal Desktop */
@media screen and (min-width: 651px) {
    #nav li {
        width: 160px;
        border-bottom: none;
        height: 150px;
        line-height: 150px;
        font-size: 1.7em;
    }
    /* Option 1 - Display Inline */
    #nav li {
        display: inline-block;
        margin-right: -4px;
    }

    /* Options 2 - Float */
    /*
    #nav li {
      float: left;
    }

    #nav ul {
      overflow: auto;
      width: 600px;
      margin: 0 auto;
    }

    #nav {
      background-color: #444;
    }
    */
}

  /* Mobile Size */
  @media screen and (max-width: 650px) {
    #header {
        text-align: center;
        font-size: 0.8em;
    }
    #header li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        text-shadow: 0 0 1px #181818;
    }
    #header li {
      text-align: center;
      width: auto;
    }

    h1 {
        text-align: center;
    }
    #nav li {
        width: auto;
        height: 10px;
        line-height: 10px;
        font-size: 1.3em;
        border-bottom: none;
    }
    article {
      font-size: 1.5em;
      margin-left: 1em;
      margin-right: 1em;
    }
    article h2 {
      text-align: left;
    }
    article p {
      margin-top: auto;
      margin-bottom: 1em;
    }
    article .reference {
      display: none;
      font-size: 200px;
    }

    address {
      padding-left: 0;
      padding-bottom: 0;
    }

    #footer {
      padding-left: 1em;
      padding-right: 1em;
    }
}

/*    Navigation Style    */
#nav {
    display: block;
}
#nav ul {
    list-style: none;
    background-color: #351569;
    text-align: center;
    padding: 0;
    margin: 0;
}
#nav li {
    line-height: 70px;
    height: 70px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    border-bottom: 1px solid #52ccb1;
}
#nav a {
    text-decoration: none;
    text-shadow: 4px 2px 1px #5a5a5a;
    color: #fff;
    display: block;
    transition: .3s background-color;
}
#nav a:hover {
    background-color: #5a3c8b;
}
#nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

/*    H1   */
h1 {
    text-align: center;
}
h1 a {
    text-decoration: none;
    color: inherit;
}
h1 a:visited {
    text-decoration: none;
    color: #f6f6f6;
}

/*    Body Style:   ;*/
#main {
    margin: 0;
    padding: 0;
}

/*    Content   */
article {
    font-size: 1.3em;
    color: inherit;
    text-align: justify;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 5em;
}

/*    Reference Style:    */
article .reference {
    font-size: 1em;
    font-style: italic;
    text-align: left;
}
article .reference p {
    padding: 3px;
}

/*    Footer Style:    */
#footer {
    background: #539fd8;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 1.2em;
}
#footer p {
    font-size: 1em;
    color: #ffffff;
    text-align: center;
    text-shadow: 4px 2px 1px #5a5a5a;
}
#footer p a {
    color: #b6cdfb;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
}
#footer p a:visited {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
}

address {
  padding-left: 20px;
  padding-bottom: 40px;
}

address > h1 {
  text-align: left;
  color: #FFF;
  font-size: 1.3em;
  margin-bottom: 5px;
}

address > p {
  font-size: 0.8em;
  color: #FFF;
  margin: 0;
}

val-img {
    border:0;
    width:88px;
    height:31px;
}


/*    Blog Posts Style    */
