/*
*    Student ID: UP773229
*    WebF1
*/

body {
  background: #d8eaf6;
}

/*    Hrader Style:   ;*/
#header {
    padding-top: 20px;
    background-color: #376d96;
}

#header > h1 {
    color: #fff;
    font-size: 5em;
    text-shadow: 4px 2px 1px #5a5a5a;
}

#header h1 a {
    color: #ffffff;
}

#header h1 a:visited {
    color: #ffffff;
}

/*    Navigation Style    */
#nav {
    display: block;
}
#nav ul {
    list-style: none;
    background-color: #351569;
    text-align: center;
    padding: 0;
    margin: 0;
}
#nav li {
    line-height: 70px;
    height: 70px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    border-bottom: 1px solid #52ccb1;
}
#nav a {
    text-decoration: none;
    border-bottom: 1px solid #601bd0;
    text-shadow: 4px 2px 1px #5a5a5a;
    color: #fff;
    display: block;
    transition: .3s background-color;
}
#nav a:hover {
    background-color: #5a3c8b;
}
#nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}


h1 {
    text-align: center;
    color: #000;
}
h1 a {
    text-decoration: none;
    color: inherit;
}
h1 a:visited {
    text-decoration: none;
    color: #f6f6f6;
}

/*    Body Style:   ;*/

/*    Content   */
article {
    font-size: 1.3em;
    color: inherit;
    text-align: justify;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 5em;
}

article h1 {
  text-align: center;
  color: #000;
  font-style: normal;
  font-size: 1.5em;
  text-shadow: none;
}

/*    Reference Style:    */
.reference {
    font-style: italic;
    text-align: left;
}
.reference h2 {
  font-size: 2em;
  font-style: normal;
  margin: 0;
}
.reference p {
    padding-bottom: 1em;
    margin: 0;
}

/*    Footer Style:    */
#footer {
    background: #539fd8;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 4em;
    padding-right: 4em;
    font-size: 1.2em;
}
#footer h2 {
    text-align: center;
    color: #FFF;
    font-style: italic;
    margin: 0;
    text-shadow: 4px 2px 1px #5a5a5a;
}

#footer p {
    font-size: 1em;
    color: #ffffff;
    text-align: center;
    text-shadow: 4px 2px 1px #5a5a5a;
}
#footer p a {
    color: #b6cdfb;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
}
#footer p a:visited {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
}

address {
  padding-left: 20px;
  padding-bottom: 40px;
}

address > h2 {
  text-align: center;
  color: #FFF;
  font-size: 1.3em;
  margin-bottom: 5px;
}

address > p {
  font-size: 0.8em;
  color: #FFF;
  margin: 0;
}

val-img {
    border:0;
    width:88px;
    height:31px;
}

.video-wrapper {
  width: 100%    !important;
  height: auto   !important;
}


/*    Blog Posts Style    */
section {
  background: #bfd9f6;
  padding: 1em;
  border-radius: 25px;
  /* text-shadow: 1px 1px 2px black; */
}

.excerpt {
  margin-top: 2em;
  margin-bottom: 2em;
  text-decoration: none;
  text-align: justify;
  font-style: normal;;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 25px;
}

.excerpt a {
  text-decoration: none;
}

.excerpt h2 {
  text-decoration: none;
}

.excerpt h2:visited {
  text-decoration: none;
}

/* Image Block */
.image {
  display: inline-block;
  border: 1em solid #FFF;
  background-color: #6c6c6c;
  margin: 4em;
  box-shadow: 0 0 5px #888;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
}

.image img, .image span {
  display: inline-block;;
  width: 100%;
}

.image span, .image figcaption {
  color: #FFF;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.2em;
}



/* Normal Desktop */
@media screen and (min-width: 651px) {
    #nav li {
        width: 160px;
        border-bottom: none;
        height: 3.5em;
        line-height: 3.5em;
        font-size: 1.7em;
    }
    /* Option 1 - Display Inline */
    #nav li {
        display: inline-block;
        margin-right: -4px;
    }

    /* Options 2 - Float */
    /*
    #nav li {
      float: left;
    }

    #nav ul {
      overflow: auto;
      width: 600px;
      margin: 0 auto;
    }

    #nav {
      background-color: #444;
    }
    */
}

/* Mobile Size */
@media screen and (max-width: 650px) {
  #header {
      text-align: center;
      font-size: 0.8em;
  }
  #header li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
      text-shadow: 0 0 1px #181818;
  }
  #header li {
    text-align: center;
    width: auto;
  }

  h1 {
      text-align: center;
  }
  #nav li {
      width: auto;
      height: 3em;
      line-height: 3em;
      font-size: 2em;
      border-bottom: none;
  }
  article {
    font-size: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  article p {
    margin-top: auto;
    margin-bottom: 1em;
  }
  address {
    padding-left: 0;
    padding-bottom: 0;
  }
  article .reference {
    display: none;
    font-size: 200px;
  }
  #footer {
    padding-left: 1em;
    padding-right: 1em;
  }
}
